body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
    color: #fff;
}

.pimg {
    transform: rotate(30deg);
    width: 90%;
    z-index: 1;
}



.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.2rem;
}

.nav-item {
    padding: 0 2rem;
}

.nav-link {
    font-size: 1.2rem;
}

.dbut {
    margin: 2rem 1rem 2rem 0;
}

#features {
    margin-top: 2rem;
    padding: 6rem 12rem;
}

.feature-box {
    text-align: center;
}

#features i {
    color: #ef9182;
    margin-bottom: 1rem;
}

#features i:hover {
    color: #ff4c68;
}

h3 {
    font-weight: 900;
}

p {
    color: #8f8f88;
}

#testimonials {

    text-align: center;
    background-color: #ff4c68;
}

.carousel-item {
    padding: 7% 15%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
    color: #fff;
}

.testi-img {
    width: 10%;
    border-radius: 100%;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 12%;
    margin: 2rem;
}

#pricing {
    text-align: center;
    padding: 7% 15%;
}

#pricing h2 {
    color: black;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .pimg {
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 20%;
}

#cta h3 {
    color: white;
    font-size: 3rem;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

#footer i{
    margin: 1rem;
    height: 2rem;
    transition: 0.5s;
    size: 2rem;
}

#footer i:hover{
    color: blue;
}